{
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.py",
      "options": {
        "parser": "babel",
        "tabWidth": 4,
        "printWidth": 79
      }
    }
  ]
}