/* ==========================================
VARIABLES GLOBALES Y RESET (SURICATA)
   ========================================== */
:root {
    --pink: #e83e8c; 
    --info: #17a2b8; 
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #212529; 
}

/* ==========================================
UTILIDADES PERSONALIZADAS
   ========================================== */
.bg-pink {
    background-color: var(--pink) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.navbar-nav .nav-link {
    font-weight: 700;
}