{% extends 'base.html' %}
{% block contenido %}
<div class="container mt-5">
    <h2 class="mb-4">Preguntas Frecuentes</h2>
    <div class="alert alert-secondary">
        <h5>¿Hacen envíos a todo Chile?</h5>
        <p>Por la naturaleza de nuestros flanes, actualmente solo tenemos cobertura local para mantener la refrigeración.</p>
        <hr>
        <h5>¿Tienen opciones sin lactosa?</h5>
        <p>¡Sí! Estamos trabajando en una línea especial sin lactosa que pronto estará en nuestra sección de clientes exclusivos.</p>
    </div>
</div>
{% endblock %}